/* Common  CSS styles */
body {
        color: #484848;
        font-size: 14px;
        font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        padding-right: 30px;
        padding-left: 30px;
        }
.container {
    max-width: 1000px;
    border: 1px solid #DDDDDD ;
    horiz-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;



}

